@media all and (max-width: 800px) {
    * {margin: 0; padding: 0;}
    body {font-size: 10pt; color: #333;}
    header {
        position: relative;
        clear: both;
        width: 340px;
        height: 130px;
        margin: 0 auto;
        background: #333;
    }
    /*상단 1행*/
    .header_box_all {
        position: relative;
        clear: both;
        width: 340px;
        height: 130px;
        background: #ddd;
    }
        .header_box_all > .header_box_01 {
            position: relative;
            clear: both;
            width: 340px;
            height: 50px;
            line-height: 50px;
            top: 10px;
        }

        #header_box_01_up {
            position: relative;
            clear: both;
            width: 340px;
            height: 30px;
        }
            #sec_global {
                position: relative;
                float: left;
                width: 170px;
                height: 30px;
                line-height: 30px;
            }
                select {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 30px;
                }
                option {
                    width: 50px;
                    height: 30px;
                }
            #ins_all {
                position: relative;
                float: left;
                width: 170px;
                height: 30px;
            }
            #ins_icon {
                position: relative;
                float: left;
                width: 30px;
                height: 30px;
                margin-left: 10px;
            }
        #header_box_01_down {
            display: none;
        }
        /*1행 logo*/
        .header_box_all > .header_box_02 {
            position: relative;
            clear: both;
            width: 340px;
            height: 50px;
        }
        .header_box_all > .header_box_03 {
            position: relative;
            clear: both;
            width: 340px;
            height: 30px;
            background: #f60;
        }
            #header_box_03_up {
                position: relative;
                clear: both;
                width: 340px;
                height: 30px;
            }
                #txt_join, #txt_id, #txt_basket, #txt_mypage {
                    position: relative;
                    float: left;
                    width: 85px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 0.8rem;
                }

            #header_box_03_down {
                display: none;
            }
        /*여백삭제*/
        .gap_1400_10 {
            display: none;
        }

        /*메인메뉴 9개*/
        .main_menu_all {
            display: flex;
            flex-flow: row wrap;
            width: 340px;
            height: 90px;
            margin: 0 auto;
        }
            .main_menu_all #menu_each {
                width: 110px;
            }
            #menu_01_over:hover {
                content: url(../img/main_menu_01_02.jpg);
            }

            .gap_1400_10 {
                display: none;
            }
        .main_img_all {
            position: relative;
            clear: both;
            width: 340px;
            height: 340px;
            overflow: hidden;
            margin: 0 auto;
        }
            .main_img_big {
                display: none;
            }
            .main_img_small {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 340px;
                height: 340px;
                margin-top: 10px;
                z-index: 2;

                -webkit-animation-duration: 2s;
                -webkit-animation-name: m_01;
                -webkit-animation-iteration-count: 1;
            }
            @-webkit-keyframes m_01 {
                0% {left: 50px; top: 50px; opacity: 50%;}
                100% {left: 0; top: 0; opacity: 100%;}
            }
            .gap_1400_80 {
                display: none;
            }
            .gap_m_340_10 {
                position: relative;
                clear: both;
                width: 100%;
                height: 10px;
                background: #ddd;
            }
            /*상단 이미지 4개 제작*/
            section.sec_01_all {
                position: relative;
                clear: both;
                width: 340px;
                height: 1360px;
                overflow: hidden;
                margin: 0 auto;
            }
                .sec_01_all > .sec_01_box_all {
                    display: flex;
                    flex-flow: column nowrap;
                    width: 340px;
                    height: 1360px;
                }
                    .sec_01_box_all > #sec_01_box_each {
                        display: flex;
                        flex-flow: row wrap;
                        width: 340px;
                        height: 340px;
                    }
                    #sec_01_box_img {
                        width: 340px;
                        height: 280px;
                    }
                    #sec_01_font_01 {
                        width: 340px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    #sec_01_font_02 {
                        width: 340px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 1rem;
                    }
}